html {
  background-color: #f4f1ea; /* Base paper color */
  opacity: 0.8; /* Adjust for subtleness */
  background-image: linear-gradient(to bottom, #9ABDDC 1px, transparent 1px),
     url(https://grainy-gradients.vercel.app/noise.svg);
  background-size: 100% 45px, 400px 400px; /* Adjust 30px to change line spacing */
}

body{
    min-height: 100dvh;
    padding: none;
    margin: none;
    position: relative;
}

.row {
    padding: 2em;
    display: flex;
    justify-content: center;
}

.doodle {
    mix-blend-mode: darken;
}

.doodle.title {
    max-width: 100%;
}

.doodle.char {
    position: absolute;
    left: -100px;
    height: 90dvh;
    top: 100px;
}

.lighting {
    position: absolute;
    right: 0;
    rotate: -30deg;
    top: 0px;
    mix-blend-mode: darken;
    animation: flicker 0.3s infinite;
}

@keyframes flicker {
  0%   { opacity: 1; }
  20%  { opacity: 0.4; }
  40%  { opacity: 1; }
  60%  { opacity: 0.2; }
  80%  { opacity: 1; }
  100% { opacity: 0.5; }
}